.body{
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 512px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

img{
    display: block;
    border-radius: 50%;

}

h1,h2,p{
    margin: 0;
    text-align: center;
}

h2{
    font-size: 14px;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    color: aliceblue;
}
